<!DOCTYPE html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/assets/js/script.js"></script>
	<style src="/assets/css/style.css"></style>
	<link rel="icon" type="image/png" href="/assets/img/fav.png">
</head>
<body>
	<% if(user) {%>
	Coucou <%= user.username %><br>
	Message <%= message %>
	<%}else{%>
		Pas loggué
	<%}%>
</body>